@value colors: "../../styles/theme/default/color.css";
@value color-light from colors;
@value sizes: "../../styles/theme/default/size.css";
@value size-top-bar-avatar, size-top-bar-height, size-tab-bar-height from sizes;

.top-bar {
  margin-top: size-top-bar-height;
}
.tab-bar {
  margin-bottom: size-tab-bar-height;
}
.menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 1101;
}
.menu.top {
  margin-bottom: 10px;
  top: 48px;
}
.menu.bottom {
  bottom: 0;
  background-color: color-light;
}
.top-bar-avatar {
  width: size-top-bar-avatar;
  height: size-top-bar-avatar;
}