@value colors: "../../styles/theme/default/color.css";
@value color-white, color-primary, color-secondary, color-success, color-danger, color-warning, color-info, color-disable, color-light, color-dark from colors;
@value shapes: "../../styles/theme/default/shape.css";
@value shape-circle from shapes;

.root {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  min-width: 18px;
  height: 24px;
  padding: 0 3px;
  border-radius: shape-circle;
}
.root.primary {
  background-color: color-primary;
  color: color-white;
}
.root.secondary {
  background-color: color-secondary;
  color: color-white;
}
.root.success {
  background-color: color-success;
  color: color-white;
}
.root.danger {
  background-color: color-danger;
  color: color-white;
}
.root.warning {
  background-color: color-warning;
  color: color-white;
}
.root.info {
  background-color: color-info;
  color: color-white;
}
.root.disable {
  background-color: color-disable;
  color: color-white;
}
.root.dark {
  background-color: color-dark;
  color: color-white;
}
.root.light {
  background-color: color-light;
  color: color-dark;
}
.root.link {
  background-color: transparent;
}
