@value shapes: "../../styles/theme/default/shape.css";
@value shape-square, shape-square-round, shape-round from shapes;
@value colors: "../../styles/theme/default/color.css";
@value color-white, color-grey-alpha, color-primary, color-primary-border, color-primary-hover, color-secondary, color-seconday-border, color-secondary-hover, color-success, color-success-border, color-success-hover, color-danger, color-danger-border, color-danger-hover, color-warning, color-warning-border, color-warning-hover, color-info, color-info-border, color-info-hover, color-disable, color-disable-border, color-disable-hover, color-light, color-light-border, color-light-hover, color-dark, color-dark-border, color-dark-hover, color-grey, color-grey-border, color-grey-hover from colors;

.root {
  display: flex;
  justify-content: center;
  border: 10px;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  text-decoration: none;
  outline: none;
  font-size: 0px;
  font-weight: inherit;
  position: relative;
  z-index: 1;
  overflow: visible;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.root.square {
  border-radius: shape-square;
}
.root.square-round {
  border-radius: shape-square-round;
}
.root.round {
  border-radius: shape-round;
}

.root.primary {
  background-color: color-primary;
  border: 1px solid color-primary-border;
}
.root.primary:hover {
  background-color: color-primary-hover;
  border: 1px solid color-primary-hover;
}

.root.secondary {
  background-color: color-secondary;
  border: 1px solid color-secondary-border;
}
.root.secondary:hover {
  background-color: color-secondary-hover;
  border: 1px solid color-secondary-hover;
}

.root.success {
  background-color: color-success;
  border: 1px solid color-success-border;
}
.root.success:hover {
  background-color: color-success-hover;
  border: 1px solid color-success-hover;
}

.root.danger {
  background-color: color-danger;
  border: 1px solid color-danger-border;
}
.root.danger:hover {
  background-color: color-danger-hover;
  border: 1px solid color-danger-hover;
}

.root.warning {
  background-color: color-warning;
  border: 1px solid color-warning-border;
}
.root.warning:hover {
  background-color: color-warning-hover;
  border: 1px solid color-warning-hover;
}

.root.info {
  background-color: color-info;
  border: 1px solid color-info-border;
}
.root.info:hover {
  background-color: color-info-hover;
  border: 1px solid color-info-hover;
}

.root.disable {
  background-color: color-disable;
  border: 1px solid color-disable-border;
}
.root.disable:hover {
  background-color: color-disable-hover;
  border: 1px solid color-disable-hover;
}

.root.dark {
  background-color: color-dark;
  border: 1px solid color-dark-border;
}
.root.dark:hover {
  background-color: color-dark-hover;
  border: 1px solid color-dark-hover;
}

.root.grey {
  background-color: color-grey;
  border: 1px solid color-grey-border;
}
.root.grey:hover {
  background-color: color-grey-hover;
  border: 1px solid color-grey-hover;
}

.root.light {
  background-color: color-light;
  border: 1px solid color-light-border;
}
.root.light:hover {
  background-color: color-light-hover;
  border: 1px solid color-light-hover;
}
.root.link-primary,
.root.link-black {
  background-color: transparent;
}
.root.link-primary:hover,
.root.link-white:hover,
.root.link-black:hover {
  background-color: color-grey-alpha;
}

.wrap {
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.element {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin: 0 5px;
}
.element.primary,
.element.secondary,
.element.success,
.element.danger,
.element.warning,
.element.info,
.element.disable,
.element.dark {
  color: color-white;
}
.element.light {
  color: color-dark;
}
.element.link-primary {
  color: color-primary;
}
.element.link-black {
  color: color-black;
}
.element.link-white {
  color: color-white;
}