@value colors: "../../styles/theme/default/color.css";
@value color-white, color-grey-alpha, color-room-setting-page-bg from colors;
@value size: "../../styles/theme/default/size.css";
@value size-top-bar-height, size-tab-bar-height from size;

.root {
  background-color: color-room-setting-page-bg;
}
.top-bar {
  margin-top: size-top-bar-height;
}
.tab-bar {
  margin-bottom: size-tab-bar-height;
}
.room-button {
  width: 100%;
  padding: 10px;
  background-color: transparent !important;
  cursor: default;
}
.members-block-button {
  background-color: color-white !important;
  padding: 5px;
}
.members-block-button:hover {
  background-color: color-grey-alpha !important;
}