.sc-message-menu-root.bottom {
  background-color: #fff;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sc-message-menu-root.top {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3rem;
  background-color: rgba(200,200,200,0.5);
}

.sc-message-menu-root.top .image-menu-root {
  height: 2rem;
}
.sc-message-menu-root.top i {
  font-size: 2rem;
}