@value sizes: "../../styles/theme/default/size.css";
@value size-top-bar-height, size-top-bar-text, size-weight-top-bar-text from sizes;
@value colors: "../../styles/theme/default/color.css";
@value color-top-bar-text, color-top-bar-bg, color-top-bar-border from colors;

.root {
  background-color: color-top-bar-bg;
  width: 100%;
  height: size-top-bar-height;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1101;
  top: 0;
  border-bottom: 1px solid color-top-bar-border;
}
.avatar-title-wrap {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 10px;
  font-size: size-top-bar-text;
  font-weight: size-weight-top-bar-text;
  color: color-top-bar-text;
  display: flex;
  align-items: center;
}
.avatar {
  display: flex;
  align-items: center;
  width: calc(size-top-bar-height * 0.7);
  height: calc(size-top-bar-height * 0.7);
}
.leftButton {
  position: fixed;
  display: flex;
  z-index: 10002;
}
.rightButton {
  position: fixed;
  right: 0;
  z-index: 10002;
}