.sc-text-avatar-root {
  background-color: #0084ff;
  user-select: none;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sc-text-avatar-root.circle {
  border-radius: 50%;
}
.sc-text-avatar-root.square {
  border-radius: 0;
}
.sc-text-avatar-root.square-round {
  border-radius: 5px;
}
.sc-text-avatar-root.round {
  border-radius: 30px;
}
.sc-text-avatar-element {
  color: white;
  text-align: center;
}