@value size: "../../../styles/theme/default/size.css";
@value size-message-item-avatar from size;
@value shape: "../../../styles/theme/default/shape.css";
@value shape-round from shape;
@value colors: "../../../styles/theme/default/color.css";
@value color-grey-alpha from colors;

.avatar {
  border-radius: 50%;
  height: size-message-item-avatar;
  width: size-message-item-avatar;
  margin-left: 10px;
}
.name {
  font-size: 0.6em;
  margin-top: -40px;
  margin-left: 70px;
  margin-bottom: 0;
  color: #212121;
  font-weight: 100,
}
.message {
  border-radius: shape-round;
  clear: both;
}
.message.left {
  margin: 5px 10px 5px 60px;
  float: left;
}
.message.right {
  position: relative;
  margin: 10px 0px 5px 10px;
  right: 10px;
  float: right;
}
.time-left {
  font-size: 0.6em;
  color: #212121;
  margin-top: 5px;
  float: left;
}
.time-right {
  font-size: 0.6em;
  color: #212121;
  margin-top: 10px;
  margin-right: 10px;
  float: right;
}
.clear {
  clear: both;
  margin-bottom: 30px;
}
.progress {
  padding: 50px 0;
  border: 1px solid color-grey-alpha;
  border-radius: shape-round;
}
.progress-left {
  margin-left: 10px;
}