.check-list-item-root {
  margin-left: 0px;
  position: relative;
  text-decoration: none;
  color: #333;
  height: 60px;
  line-height: 60px;
  display: flex;
  justify-content: space-around;
}

.check-list-item-avatar {
  position: absolute;
}

.check-list-item-subject {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 40px;
  line-height: 40px;
}

.check-list-item-flex1 {
  width: 48px;
  margin: 10px;
}

.check-list-item-flex2 {
  width: 100%;
  margin: 10px;
}

.check-list-item-flex3 {
  width: 50px;
  margin: 10px;
  height: 40px;
  line-height: 40px;
}
