.sc-check-list-item-root {
  margin-left: 0px;
  position: relative;
  text-decoration: none;
  color: #333;
  height: 60px;
  line-height: 60px;
  display: flex;
  justify-content: space-around;
}
.sc-check-list-item-wrap {
  min-width: 320px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fefefe;
  user-select: none;
}
.sc-check-list-item-avatar {
  position: absolute;
}
.sc-check-list-item-subject {
  overflow: hidden;
  text-overflow: ellipsis;
}
.sc-check-list-item-flex1 {
  width: 48px;
  margin: 10px;
}
.sc-check-list-item-flex2 {
  width: 100%;
  margin: 10px;
}
.sc-check-list-item-flex3 {
  width: 50px;
  margin: 10px;
  display: flex;
  justify-content: center;
}
