.sc-modal-view-wrap {
  width: 90%;
  max-width:  400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  /* background: linear-gradient(to top, #d05a82, #dd5e89); */
  background: linear-gradient(to top, #287dd2, #185a9d);
}
.sc-modal-view-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid #ca567d; */
  /* border-bottom: 1px solid #0f5398; */
  --webkit-tap-highlight-color: transparent;
}
.sc-modal-view-header-button {
  width: 50px;
}

.sc-modal-view-footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 10px;
  --webkit-tap-highlight-color: transparent;
}
.sc-modal-view-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 10px;
  letter-spacing: 0;
  font-size: 20px;
  color: #fff;
  height: 48px;
  flex: 1 1 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sc-modal-view-icon {
  fill: #999999;
}
.sc-modal-view-body {
  padding: 10px;
}

.sc-modal-transition-enter {
  opacity: 0.01;
}

.sc-modal-transition-enter.sc-modal-transition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.sc-modal-transition-leave {
  opacity: 1;
}

.sc-modal-transition-leave.sc-modal-transition-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}