.modal-dialog-root {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0,0,0,.4);
  top: 0;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-dialog-content-wrap {
  width: 90%;
  background: #fafafa;
  border-radius: 5px;
}

.modal-dialog-content-description {
  text-align: center;
  color: #666;
  font-size: 1rem;
}

.modal-dialog-content-action {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #666;
}

.modal-dialog-content-action > li {
  border-top: 1px solid #eee;
  font-size: 1rem;
  padding: 10px;
  font-weight: bold;
  height: 2rem;
  line-height: 2rem;
}