.room-setting-modal-item-root {
  margin-left: 0px;
  position: relative;
  text-decoration: none;
  color: #333;
  background-color: #fefefe;
  display: flex;
  justify-content: space-around;
}

.room-setting-modal-item-avatar {
  position: absolute;
}

.room-setting-modal-item-subject {
  overflow: hidden;
  text-overflow: ellipsis;
}

.room-setting-modal-item-flex1 {
  width: 40px;
  margin: 10px;
}

.room-setting-modal-item-flex2 {
  width: 100%;
  margin: 10px;
  height: 48px;
  line-height: 48px;
}

.room-setting-modal-item-flex3 {
  width: 50px;
}