@value shapes: "../../styles/theme/default/shape.css";
@value shape-circle, shape-square, shape-square-round, shape-round from shapes;
@value size: "../../styles/theme/default/size.css";
@value size-avatar-root from size;

.root {
  user-select: none;
  height: size-avatar-root;
  width: size-avatar-root;
  object-fit: cover;
}
.root.circle {
  border-radius: shape-circle;
}
.root.square {
  border-radius: shape-square;
}
.root.square-round {
  border-radius: shape-square-round;
}
.root.round {
  border-radius: shape-round;
}