@value shapes: "../../styles/theme/default/shape.css";
@value shape-circle, shape-square, shape-square-round, shape-round from shapes;

.root {
  user-select: none;
  height: 100px;
  width: 100px;
  object-fit: cover;
}
.root.circle {
  border-radius: shape-circle;
}
.root.square {
  border-radius: shape-square;
}
.root.square-round {
  border-radius: shape-square-round;
}
.root.round {
  border-radius: shape-round;
}