@import './pages/**/*.css';
@import './components/**/*.css';
@import './containers/**/*.css';
@import './plugins/**/**/*.css';

body {
  font-family: "San Francisco", Sans-Serif;
}
.nodata-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* margin-top: 150px; */
}
.nodata-text {
  opacity: 0.1;
}
.nodata-image {
  width: 80%;
  opacity: 0.05;
}
:placeholder-shown,
::-webkit-input-placeholder {
  color: #cccccc;
}
.sc-layout-box-1 {
  padding: 10px 0;
  background-color: #fafafa;
}
.page-container {
  min-width: 320px;
}
.sc-image-input {
  display: none;
}