.simple-list-item-wrap {
  min-width: 320px;
  display: flex;
  justify-content: space-around;
  background-color: #fefefe;
}

.simple-list-item-wrap-flex1 {
  margin: 10px;
}

.simple-list-item-wrap-flex2 {
  margin: 10px;
  width: 100%;
  display: flex;
  align-items: center;
}