.message-body-root {
  width: 100%;
  margin: 48px 0;
  min-width: 320px;
}
.message-body-menu {
  position: fixed;
  z-index: 1101;
  width: 100%;
  display: flex;
  background-color: #fff;
  bottom: 0;
  padding: 5px 0;
}
.message-body-menu-top {
  margin-bottom: 10px;
  position: fixed;
  z-index: 1101;
  top: 48px;
  width: 100%;
}